body{
font:normal normal 400 12px/15px sans-serif;
margin:0;
background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
}

a{
color:#000000;
font-weight: strong;
}

a:hover{
color:#CbCbCb;
text-decoration:none;
font-weight: strong;
}

a.logo{
background:url(img/logo1.png) no-repeat left top;
display:block;
height:150px;
left:25px;
position:absolute;
top:25px;
width:367px;
}

h1{
font:normal normal 700 2em/2.1em sans-serif;
margin:0.67em 0;
padding:0;
}

h2{
font:normal normal 700 1.5em/1.6em sans-serif;
margin:0.83em 0;
padding:0;
}

h3{
font:normal normal 700 1.17em/1.27em sans-serif;
margin:1em 0;
padding:0;
}

img{
border:0;
display:block;
padding: 0px 10px;
}

ol,ul{
margin:1em;
padding:0 0 0 1.50em;
}

p{
margin:1em 0;
padding:0;
}

address{
text-align: left;
position:absolute;
right:25px;
top:25px;
width:225px;
}

#Column1{
margin-right:420px;
padding:20px;
}

#Column2{
float:right;
padding:20px;
width:400px;
}

#Column3{
padding:20px;
}

#Content{
clear:both;
float:left;
width:1000px;
min-width: 950px;
padding-left: 15px;
}

#ContentInner{
clear:both;
float:left;
width:910px;
padding:30px;
}

#Emergency{
}

#Footer{
color: #ffffff;
text-shadow: 1px 1px 2px #000000;
clear:both;
height: 50px;
background: #CbCbCb;
-webkit-border-radius: 0 0 10px 10px;
border-radius: 0 0 10px 10px;
}
.footer-content{
padding: 15px;
text-align: center;
}
.footer-content a{
text-decoration: none;
color: #ffffff;
}

.footer-content a:hover{
text-decoration: none;
color: #CbCbCb;
}

#Header{
height:200px;
position:relative;
}

#Nav{
background: #cccccc;
float:left;
font:normal normal 400 12px/33px sans-serif;
width:100%;
}

#Nav a{
text-shadow: 1px 1px 2px #000000;
overflow:hidden;
position:relative;
text-decoration: none;
text-transform: uppercase;
color: #ffffff;
display:block;
float:left;
padding:0 20px;
}

#Nav a:hover{
text-shadow: 1px 1px 2px #000000;
background: grey;
overflow:visible;
color: #CbCbCb;
}

/*DD Nav*/
#ddnav{
display:block;
left:0;
position:absolute;
top:33px;
width:200px;
z-index:10;
}

#ddnav span{
background:grey;
color:white;
cursor:pointer;
display:block;
padding:5px 20px;
width:160px;
}

#ddnav span:hover{
background:#cccccc;
color: #CbCbCb;
}

#Wrapper{
margin: 25px;
float:left;
left:50%;
margin-left:-500px;
position:relative;
width:1000px;
background: #ffffff;
-webkit-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px;
-webkit-box-shadow: 5px 5px 45px 5px #424242;
box-shadow: 5px 5px 45px 5px #424242;
}

.bottom{
margin-bottom:0;
padding-bottom:0;
}

.listor{
list-style:none;
margin:1em 0;
}

.nowrap{
white-space:nowrap;
}

.top{
margin-top:0;
padding-top:0;
}