body{
font:normal normal 400 12px/15px sans-serif;
margin:0;
background: url(body-bg.png) repeat-x top left #000000;
}

a{
color:#0000ff;
text-decoration:underline;
}

a:hover{
}

a.logo{
background:url(img/logo1.png) no-repeat left top;
display:block;
height:150px;
left:25px;
position:absolute;
top:25px;
width:367px;
}

h1{
font:normal normal 700 2em/2.1em sans-serif;
margin:0.67em 0;
padding:0;
}

h2{
font:normal normal 700 1.5em/1.6em sans-serif;
margin:0.83em 0;
padding:0;
}

h3{
font:normal normal 700 1.17em/1.27em sans-serif;
margin:1em 0;
padding:0;
}

img{
border:0;
display:block;
}

ol,ul{
margin:1em 0;
padding:0 0 0 1.25em;
}

p{
margin:1em 0;
padding:0;
}

address{
text-align: left;
position:absolute;
right:25px;
top:25px;
width:175px;
}

#Column1{
margin-right:420px;
padding:20px;
}

#Column2{
float:right;
padding:20px;
width:400px;
}

#Column3{
padding:20px;
}

#Content{
clear:both;
float:left;
width:950px;
}

#Emergency{
}

#Footer{
clear:both;
height: 50px;
background: #CbCbCb;
}
.footer-content{
padding: 12px;
}
.footer-content a{
text-decoration: none;
color: #000000;
}

#Header{
height:200px;
position:relative;
}

#Nav{
background: #cccccc;
float:left;
font:normal normal 400 12px/25px sans-serif;
width:100%;
}

#Nav a{
overflow:hidden;
position:relative;
text-decoration: none;
text-transform: uppercase;
color: #ffffff;
display:block;
float:left;
padding:0 20px;
}

#Nav a:hover{
background: grey;
overflow:visible;
}

/*DD Nav*/
#ddnav{
display:block;
left:0;
position:absolute;
top:25px;
width:200px;
z-index:10;
}

#ddnav span{
background:grey;
color:white;
cursor:pointer;
display:block;
padding:5px 20px;
width:160px;
}

#ddnav span:hover{
background:#cccccc;
color:white;
}

#Wrapper{
margin-top: 25px;
float:left;
left:50%;
margin-left:-475px;
position:relative;
width:950px;
background: #ffffff;
}

.bottom{
margin-bottom:0;
padding-bottom:0;
}

.listor{
list-style:none;
margin:1em 0;
}

.nowrap{
white-space:nowrap;
}

.top{
margin-top:0;
padding-top:0;
}